[submodule "roguestar-engine"]
	path = roguestar-engine
	url = http://www.downstairspeople.org/git/roguestar-engine.git
[submodule "roguestar-gl"]
	path = roguestar-gl
	url = http://www.downstairspeople.org/git/roguestar-gl.git
[submodule "rsagl"]
	path = rsagl
	url = http://www.downstairspeople.org/git/rsagl.git
[submodule "roguestar-html"]
	path = roguestar-html
	url = http://www.downstairspeople.org/git/roguestar-html.git
[submodule "rsagl-demos"]
	path = rsagl-demos
	url = http://www.downstairspeople.org/git/rsagl-demos.git
[submodule "priority-sync"]
	path = priority-sync
	url = http://www.downstairspeople.org/git/priority-sync.git
